/* Drop Shadow Presets */
:root {
  --shadow-color: 202deg 16% 58%;
  --shadow-elevation-low: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}

/* Colors */
:root {
  --text-gray: #2a3335;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  color: var(--text-gray);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Taviraj", serif;
  margin: 0.5rem 0;
  line-height: 1.5;
}

h1 {
  font-size: 4rem;
  line-height: 1.125;
}
h2 {
  font-size: 4rem;
  line-height: 1.125;
}
h3 {
  font-size: 3rem;
  line-height: 1.25;
}

p {
  font-family: "Taviraj", serif;
  font-size: 1.125rem;
}

.photo__caption {
  font-style: italic;
  font-size: 0.75rem;
}

.figure-label {
  font-size: 0.75rem;
  font-style: italic;
  margin: 0;
  padding: 0;
  line-height: 1;
}

hr {
  height: 1px;
  border: none;
  background: lightgray;
  display: block;
  margin: 1rem 0;
}

/* Header */
.global-header {
  background: #fff8e7;
  display: flex;
  flex-direction: horizontal;
  align-items: top;
}

.global-header__logo {
  padding: 0 2rem;
}

.main-nav {
  flex: 1;
  text-align: right;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  padding: 0 1rem;
  height: 5rem;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__item {
  display: inline;
  margin: 0;
  padding: 0;
}

.main-nav__link {
  display: inline-block;
  padding: 1rem;
  color: #1b2527;
  background: none;
  clip-path: polygon(15% 0, 100% 0, 85% 100%, 0 100%);
}

/* Hero */
.hero {
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  height: 14rem;
  background-position: center center;
  background-size: auto 100%;
}

.hero:after {
  content: " ";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 2rem;
  background: linear-gradient(
      rgba(42, 51, 53, 0),
      rgba(42, 51, 53, 0) 75%,
      rgba(42, 51, 53, 0.35)
    ),
    linear-gradient(rgba(42, 51, 53, 0), rgba(42, 51, 53, 0.25));
  pointer-events: none;
}

.hero__title {
  color: #fff8e7;
  font-family: "Taviraj", serif;
  font-size: 4rem;
  text-align: center;
  flex: 1;
}

/* Photographs */
.photo__container {
  position: relative;
  margin: 1rem 0 2rem;
}
.photo {
  position: relative;
  box-shadow: var(--shadow-elevation-medium);
  padding: 0.5rem;
  background: white;
}

.photo__image {
  display: block;
  width: 100%;
  height: auto;
}

.photo__caption {
  font-size: 0.75rem;
  font-style: italic;
  margin: 0.5rem;
  line-height: 1;
}

.photo__zoom-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(42, 51, 53, 0.9);
  z-index: 99;
}

.photo__zoom-image-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 100;
  pointer-events: none;
}

img.photo__zoom-image {
  display: block;
  max-height: calc(100vh - 2rem);
  max-width: calc(100vw - 2rem);
  width: auto;
  height: auto;
  margin: 1rem auto;
  pointer-events: initial;
}

/* Layout */
.page-body {
  width: 72rem;
  max-width: 90%;
  margin: 2rem auto;
}

.ping-pong {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem 0;
  box-sizing: border-box;
}

.ping-pong--reverse {
  flex-direction: row-reverse;
}

.ping-pong__image-container,
.ping-pong__text-container {
  flex: 1;
  padding: 2rem;
}

.longform-text {
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
}

.longform-text__side-column {
  flex: 1;
  padding: 2rem;
}

.longform-text__main-column {
  flex: 3;
  padding: 2rem;
}
