html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Header */
.global-header {
  background: #fff8e7;
  display: flex;
  flex-direction: horizontal;
  align-items: top;
}

.global-header__logo {
  padding: 0 2rem;
}

.main-nav {
  flex: 1;
  text-align: right;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  padding: 0 1rem;
  height: 5rem;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__item {
  display: inline;
  margin: 0;
  padding: 0;
}

.main-nav__link {
  display: inline-block;
  padding: 1rem;
  color: #1b2527;
  background: none;
  clip-path: polygon(15% 0, 100% 0, 85% 100%, 0 100%);
}

/* Hero */
.hero {
  text-align: center;
  display: flex;
  align-items: center;
  height: 14rem;
  background-position: center center;
  background-size: auto 100%;
}

.hero__title {
  color: #fff8e7;
  font-family: "Taviraj", serif;
  font-size: 4rem;
  text-align: center;
  flex: 1;
}
